<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>

	<connectionStrings>
		<add name="Demo" connectionString="Data Source=(local);Initial Catalog=NHDemo;Integrated Security=SSPI;"/>
	</connectionStrings>

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory name="NHDemo">
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="adonet.batch_size">16</property>
			<property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
			<property name="connection.connection_string_name">Demo</property>
			<mapping assembly="NHDemo"/>
		</session-factory>
	</hibernate-configuration>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
